@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');


.donation-now-section {
    background: url('src/assets/images/donacion.gif') no-repeat center center fixed;
    background-size: cover;
    padding: 40px 0;
    height: 100vh; /* Adjust as needed */
}




.donate-now-container {
    font-family: 'Nunito', sans-serif;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 15px;
    max-width: 800px; /* Increased width */
    margin: 40px auto;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px); /* Optional: Adds a blur effect to the background */
}


.title {
    text-align: center;
    color: #B22222;
    font-size: 32px; /* Slightly larger title */
    font-weight: 700;
    margin-bottom: 25px;
}

.subtitle {
    text-align: center;
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
}

.donate-form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 15px;
}

.form-group {
    flex: 1 1 48%; /* Adjust flex basis for better spacing */
    display: flex;
    flex-direction: column;
}

    .form-group label {
        font-weight: 600;
        font-size: 16px; /* Increased label size */
        margin-bottom: 10px;
        color: #333;
    }

    .form-group input,
    .form-group select {
        width: 100%;
        padding: 12px; /* Increased padding */
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 16px; /* Larger input font */
        background-color: #f9f9f9;
        color: #333; /* Text color */
        transition: border-color 0.3s;
    }

    .form-group select {
        -webkit-appearance: none; /* For Safari */
        -moz-appearance: none; /* For Firefox */
        appearance: none;
    }

    .form-group input::placeholder {
        color: #888; /* Placeholder text color */
    }

    .form-group input:focus,
    .form-group select:focus {
        border-color: #B22222;
        outline: none;
    }

    .form-group select option {
        background-color: #ffffff;
        color: #333; /* Text color for dropdown options */
    }

.submit-btn {
    background-color: #B22222;
    color: white;
    padding: 15px 20px; /* Larger button */
    font-size: 18px; /* Larger text */
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

    .submit-btn:focus,
    .submit-btn:hover {
        outline: none;
        border: none;
        background-color: #B22222; /* Maintain the same background color */
        color: white; /* Maintain text color */
    }

.success-message {
    text-align: center;
    color: #4CAF50;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.success-icon {
    margin-right: 8px;
    font-size: 22px;
}
